{% extends "Basis.html" %}

{% block title %}Unser Service - Omnibus Stütz{% endblock %}

{% block content %}
<section class="service">
    <h2>Unsere Leistungen für Sie:</h2>
    <ul>
        <li>
            <strong>Ausflugs- und Vereinsfahrten</strong>
            <p>Sie planen einen Wochenendausflug oder eine längere Reise mit einer Gruppe und wissen noch nicht genau, welche Ziele Sie ansteuern möchten? Selbstverständlich stehen wir Ihnen gerne mit Rat und Tat zur Seite. Wir organisieren für Sie Übernachtungen, Stadtbesichtigungen, Führungen, Schiffahrten, Restaurants, ... Gerne stellen wir Ihnen individuelle Reiseprogramme zusammen.</p>
        </li>
        <li>
            <strong>Busanmietung</strong>
            <p>Sie haben eine Fahrt selbst organisiert und brauchen dafür einen Bus inkl. Fahrer? Kein Problem: Wir können verschiedene Gruppengrößen transportieren <a href="fuhrpark">(siehe unser Fuhrpark)</a>.</p>
        </li>
        <li>
            <strong>Flughafentransfers</strong>
            <p>Sie haben mit mehreren Personen zusammen Urlaub gebucht und möchten gemeinsam zum Flughafen fahren? Kein Problem! Wir holen Sie zu Hause ab und bringen Sie pünktlich und entspannt zum Flughafen.</p>
        </li>
        <li>
            <strong>Schul- und Abschlussfahrten</strong>
            <p>Egal, ob Tagesausflug oder Jugendherberge, wir stehen Ihnen gerne zur Verfügung.</p>
        </li>
        <li>
            <strong>Linienverkehr</strong>
            <p>Zur Beförderung Ihrer Arbeitnehmer oder Schulkinder sind wir gerne bereit. Sprechen Sie mit uns.</p>
        </li>
    </ul>
</section>
{% endblock %}
